.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 60px;
}

.header-user-info {
  margin-left: 30px;
}

.header-user-info > strong {
  margin-right: 5px;
}

.header-add-button {
  background: rgb(225, 98, 89);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3);
}
.header-add-button:hover {
  background-color: #f9f5f1;
  color: rgb(225, 98, 89);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
}

.fa-plus {
  margin-right: 5px;
}

.header-logout-btn {
  background: rgb(225, 98, 89);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

@media only screen and (max-width: 425px) {
  .header {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 0;
    height: 100%;
    padding: 10px;
  }
  .header-user-info {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .header-add-button {
    width: 120px;
    font-size: 0.9rem;
  }
}
