.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 60px;
}

.header-user-info {
  margin-left: 30px;
}

.header-user-info > strong {
  margin-right: 5px;
}

.header-add-button {
  background-color: rgb(225, 225, 225);
  color: initial;
  font-size: 1rem;
  width: 150px;
  height: 35px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
}

.header-add-button:hover .fa-plus {
  color: rgb(225, 98, 89);
}

.fa-plus {
  margin-right: 5px;
}

.header-logout-btn {
  background: rgb(225, 98, 89);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 425px) {
  .header {
    flex-wrap: wrap;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) {
  .header {
    padding: 0;
    height: 100%;
    padding: 10px;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .header-user-info {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .header-add-button,
  .header-logout-btn {
    width: 120px;
    font-size: 0.9rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
